@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

body {
    
}
.main {
    background-color: white;
    align-content:flex-start;
}
.container {
    display:flex;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left:10%;
}
.gal {
    font-family: Bahnschrift;
}
.headder {
}
.menue {
}
.video {
    border-radius: 10%;
}
.click {
    background-color: #191970;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: dashed;
    display: inline-block;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
    .click:hover {
        background-color: #e2612b;
        text-decoration: none;
    }

    .click:active {
        background-color: #e2612b;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
        text-decoration: none;
    }
.rederect:visited {
    text-decoration: none;
    color: white;
}
.rederect {
    color: white;
}
.bg {
    width:40%;
    height: 20%;
    border-radius: 2%;
}
.textpra {
    max-width: 30%;
    font-size: 16pt;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    display: block;
    position: relative;
    border: solid 3px #6e7491;
    padding: 40px 60px;
    max-width: 800px;
    width: 70%;
    margin: 100px auto 0;
    font-size: 17px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;
}
.textpra:hover {
    transform: translateY(-10px) rotate(1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

    .textpra:hover .border {
        transform: translateY(4px) rotate(-5deg);
    }

.border {
    position: absolute;
    transition: all 0.13s ease-in;
}

    .border:before,
    .border:after {
        color: #515d9c;
        font-size: 15px;
        position: absolute;
    }
.map {
    height: 400px;
    width: 60%;
    padding-top: 5%;
    padding-bottom:5%;
    border-radius:20px;
}
.head {
    background-image: url(images/head.jpg);
    border-radius:40px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Calligraffitti', cursive;
    font-weight: 700;
    font-size: 7rem;
    position: relative;
    text-shadow: -15px 5px 20px #ced0d3;
    top: 100%;
    transform: translate(-50%,-50%,50%,50%);
    letter-spacing: 0.02em;
    text-align: center;
    color: #F9f1cc;
    text-shadow: 5px 5px 0px #FFB650, 10px 10px 0px #FFD662, 15px 15px 0px #FF80BF, 20px 20px 0px #EF5097, 25px 25px 0px #6868AC, 30px 30px 0px #90B1E0;
}
.gallery {
    justify-content: space-between;
    display: grid;
    object-fit: cover;
    gap:1px;
    padding-left:5%;
}
.pic {
    height: auto;
    width: 60%;
    border-radius: 5px;
    border: 4px solid #ddd;
}
.footer-distributed {
    background: #00688B;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 50px 60px 40px;
    overflow: hidden;
    border-radius:40px;
}

section {
    width: 100%;
    display: inline-block;
    background: white;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left {
    float: left;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Roboto', cursive;
    margin: 0 0 10px;
}

    .footer-distributed h3 span {
        color: #f86916;
    }

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons {
    margin-top: 40px;
}

    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: white;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
        border-radius: 10px;
    }

/* Footer Right */

.footer-distributed .footer-right {
    float: right;
}

    .footer-distributed .footer-right p {
        display: inline-block;
        vertical-align: top;
        margin: 15px 42px 0 0;
        color: #ffffff;
    }

/* The contact form */

.footer-distributed form {
    display: inline-block;
}

    .footer-distributed form input,
    .footer-distributed form textarea {
        display: block;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: #1f2022;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
        border: none;
        resize: none;
        font: inherit;
        font-size: 14px;
        font-weight: normal;
        color: #d1d2d2;
        width: 400px;
        padding: 18px;
    }

.footer-distributed ::-webkit-input-placeholder {
    color: #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color: #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
    color: #5c666b;
}


.footer-distributed form input {
    height: 55px;
    margin-bottom: 15px;
}

.footer-distributed form textarea {
    height: 100px;
    margin-bottom: 20px;
}

.footer-distributed form button {
    border-radius: 3px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

        .footer-distributed .footer-company-name {
            font-size: 12px;
        }

        .footer-distributed form input,
        .footer-distributed form textarea {
            width: 250px;
        }

        .footer-distributed form button {
            padding: 10px 35px;
        }
}

@media (max-width: 800px) {

    .footer-distributed {
        padding: 30px;
    }

        .footer-distributed .footer-left,
        .footer-distributed .footer-right {
            float: none;
            max-width: 300px;
            margin: 0 auto;
        }

        .footer-distributed .footer-left {
            margin-bottom: 40px;
        }

        .footer-distributed form {
            margin-top: 30px;
        }

        .footer-distributed form {
            display: block;
        }

            .footer-distributed form button {
                float: none;
            }
}
