body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image:url(pics/background.jpg)
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

input {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}
.rules {
background-color:lightcoral;
margin-left:20%;
margin-right:20%;
border-radius:30px;
border-color:red;
border-width:5px;
}
